@import '../../css/variables';

.CurrentUser {
   border: 1px solid $main-color;
   border-radius: 3px;
   overflow: hidden;
   padding: 15px;
   width: 45%;
   float: left;
	.userPhoto {
      width: 150px;
      border-radius: 50%;
      border: 1px solid $main-color;
		margin: 0 auto 15px auto;
		display: block;
   } 
   .userId {
		text-align: center;
      color: $light-color;
      p {
         margin: 0;
      }
      .btn {
         margin-top: 15px;
      }
      h4 {
			font-weight: 300;
			font-size: 110%;
			color: $main-color;
      }
   }
}