@import '../../css/variables.scss';

.NewTech {
   margin-left: 5%;
   width: 50%;
   float: left;
	padding: 20px;
	h2 {
		color: $light-color;
		font-weight: 300;
		text-align: center;
	}
   .techInput, .submitBtn {
      width: 100%;
   }
   .techInput {
      display: block;
      padding: 15px;
      margin: 20px 0 20px 0;
      border-radius: 3px;
      border: none;
      background-color: transparent;
      border: 2px solid $main-color;
      color: $light-color;
      font-family: $main-font;
      font-size: 15px;
      letter-spacing: 1px;
   }
}