html, body {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

body {
   font-family: $main-font;
   color: $dark-color;
   background-color: $light-color;
   margin: 0;
   padding: 0;
   background-image: url($bg-img);   
   background-size: cover;
}

// buttons
.btn {
   background-color: $main-color;
   border-radius: 3px;
   border: 1px solid $main-color;
   box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.20);
   color: white;
   padding: 10px 20px;
   transition: 0.3s all;
   font-family: $main-font;
   text-transform: uppercase;
   letter-spacing: 2px;
   cursor: pointer;
}
.btn:hover { background-color: darken($main-color, 10%); }
.btn:focus { outline: none; }