$main-color: #835cfb;
$dark-color: #232323;
$light-color:#fafafa;

// fonts
$main-font: 'Catamaran', sans-serif;

$bg-img: 'https://images.unsplash.com/photo-1480506132288-68f7705954bd?auto=format&fit=crop&w=1393&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D';